.list {
  text-align: left;
  padding: 0;
}

.list li {
  list-style: none;
  color: white;
  background-color: #191919;
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0;
}

.list li .price {
  color: green;
}

.list li p:first-child {
  font-size: 1.5rem;
  font-weight: bold;
}

.list li p {
  margin: 0;
}

div {
  align-items: center;
}
